node_modules
.DS_Store
dist
target
.nyc_output
lib
tmp
coverage
*-error.log
*-debug.log
.idea
*-local.*
log

.env
.env.*

/.next/
/out/
/.pnp
.pnp.js
*.pem

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
.venv
__pycache__
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# swift
/.build
# /Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc